@model RecipeViewModel
@using RecipesHeaven.Web.ViewModels.Recipe;
@using RecipesHeaven.Web.ViewModels.Comment;

@{
    ViewBag.Title = "Recipe details";
}

<div class="container">
    @{Html.RenderAction("GetCategories", "Category");}
    <div class="col-md-9">
        <div class="thumbnail">
            <img class="img-responsive" style="max-height:300px; width:auto" src="@Model.ImageUrl" alt="">
            <div class="caption-full">
                @*<h4 class="pull-right">$24.99</h4>*@
                <h4>
                    <a href="#">@Model.Name</a>
                </h4>
                @if (Model.Products.Count > 0)
                {
                    <ul>
                        @foreach (var product in Model.Products)
                        {
                            <li>
                                <span> @product.Content</span>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <text>&nbsp;</text>
                }
                <p> @Model.PreparingSteps</p>
            </div>
            <div class="ratings">
                <p class="pull-right">@Model.NumberOfComments comments</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    4.0 stars
                </p>
            </div>
        </div>

        <div class="well">

            @{
                var commentInput = new CommentInputViewModel();
                commentInput.RecipeId = Model.Id;
                Html.RenderPartial("../../Views/Comment/_CommentInputPartial", commentInput);
            }

            @if (Model.Comments.Count() > 0)
            {
                <div id="comments">
                    @foreach (var comment in Model.Comments)
                    {
                        @Html.Partial("../../Views/Comment/_SingleCommentPartial", comment)
                    }
                </div>
            }
        </div>
        @{
            var commentModel = new RecipeCommentsViewModel()
            {
                Comments = Model.Comments,
                RecipeId = Model.Id,
                RecipeName = Model.Name
            };

    //Html.RenderPartial("../../Views/Comment/_CommentsPartial", commentModel);
        }
    </div>

</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
