@model RecipeViewModel
@using RecipesHeaven.Web.ViewModels.Recipe;
@{
    ViewBag.Title = "Recipe details";
}

<div class="container">
    @{Html.RenderAction("GetCategories", "Category");}
    <div class="col-md-9">
        <div class="thumbnail">
            <img class="img-responsive" src="http://placehold.it/800x300" alt="">
            <div class="caption-full">
                @*<h4 class="pull-right">$24.99</h4>*@
                <h4>
                    <a href="#">@Model.Name</a>
                </h4>
                @if (Model.Products.Count > 0)
                {
                    <ul>
                        @foreach (var product in Model.Products)
                        {
                            <li>
                                <span> @product.Content</span>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <text>&nbsp;</text>
                }
                <p> @Model.PreparingSteps</p>
            </div>
            <div class="ratings">
                <p class="pull-right">@Model.NumberOfComments comments</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    4.0 stars
                </p>
            </div>
        </div>
        <div class="well">
            <div class="text-right">
                <a class="btn btn-success">Add a comment</a>
            </div>
            @if (Model.NumberOfComments > 0)
            {
                foreach (var comment in Model.Comments)
                {
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <b>@comment.AuthorName:</b>
                            <p>@comment.Content</p>
                        </div>
                    </div>
                }
            }            
        </div>
    </div>

</div>
