@model IEnumerable<RecipeViewModel>
@using RecipesHeaven.Web.ViewModels.Recipe;
@{
    ViewBag.Title = "UserRecipes";
    @Styles.Render("~/Content/dataTables")
}
<h1 class="page-header" >My Recipes</h1>

@if (Model.Count() > 0)
{
    <table id="recipes-table" class="display" cellspacing="0" style="width: 100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Date added</th>
                <th>Number of comments</th>
                <th>Number of products</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Date added</th>
                <th>Number of comments</th>
                <th>Number of products</th>
            </tr>
        </tfoot>

        <tbody>
            @foreach (var recipe in Model)
            {
                <a href="@Url.Action("Recipe", "Recipe", new { id = recipe.Id })">
                    <tr>
                        <td>@Html.ActionLink(recipe.Name, "Recipe", "Recipe", new { id = recipe.Id }, null)</td>
                        <td>@recipe.CategoryName</td>
                        <td>@recipe.DateAdded</td>
                        <td>@recipe.Comments.Count comments</td>
                        <td>@recipe.Products.Count producst</td>
                    </tr>
                </a>
            }
        </tbody>
    </table>
    @section scripts
    {
        @Scripts.Render("~/bundles/dataTables")
        <script>
            $(document).ready(function () {
                $('#recipes-table').DataTable();
            });
        </script>
    }
}
else
{
    <div class="alert alert-info">
        You don't have any recipes yet. If you want to add some @Html.ActionLink("click here", "Create", "Recipe", null, new { @class = "alert-link" }).
    </div>
}

